.check-in-list-screen {
  text-align: left;
  margin: @pageMargin;
  display: grid;
  grid-template-rows: 55px 1fr 50px;
  grid-row-gap: 15px;
  height: calc(100vh - @headerHeight - @pageMargin * 2);

  .check-in-list {
    overflow-y: scroll;

    &--choose-interval {
      display: grid;
      grid-template-columns: 1fr 30px 1fr;
      width: calc(100vw - @pageMargin * 2);
      align-items: center;
      text-align: center;

      input {
        width: 100%;
        box-sizing: border-box;
      }
    }

    .check-in-item {
      display: grid;
      grid-template-columns: 1fr 140px;
      padding: 5px;
      align-items: center;
      border-top: 1px solid #c8c8c8;
      border-bottom: 1px solid #c8c8c8;
      background-color: #ffffff;

      &.active {
        background-color: #01c251;
        color: #ffffff;
      }

      &.cancelled {
        background-color: #dddddd;
      }

      &--price {
        text-align: right;
      }
    }

    .check-in-item + .check-in-item {
      border-top: 0;
    }
  }
}
