.statistics-screen {
  text-align: left;
  margin: @pageMargin;
  display: grid;
  grid-template-rows: 55px 1fr 50px;
  grid-row-gap: 15px;
  height: calc(100vh - @headerHeight - @pageMargin * 2);

  .statistics-control {
    display: grid;
    grid-template-columns: 1fr 55px;
    grid-column-gap: 10px;

    select {
      width: 100%;
      padding: 10px;
    }
  }

  .info-statistics {
    &--block {
      display: grid;
      grid-template-columns: 1fr 1fr;

      &-element {
        > span {
          display: block;
          text-align: center;

          &:nth-child(1) {
            font-size: 1.4em;
          }

          &:nth-child(2) {
            color: #9d9d9d;
            font-size: 0.8em;
          }
        }
      }
    }

    &--title {
      margin-top: 15px;
      margin-bottom: 15px;
      font-size: 0.8em;
      font-weight: bold;
    }
  }

  .buttons-container {
    > button {
      width: 100%;
    }
  }
}
